.AccessoryList {
  
}

ul.accessory-list {
  padding: 0;
}

.accessory-list li {
  list-style: none;
  margin-bottom: 3%;
}

.accessory-list-li button {
  float: right;
  margin-right: 2.5%;
  background-color: rgb(255, 255, 255);
}