.EditExercise {
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 2%;
  border: 1px solid rgb(196, 196, 196);
  right: 40%;
  bottom: 20%;
}

.EditExercise p {
  display: inline;
}

form.form-edit-exercise {
  display: flex;
  flex-direction: column;
}

.form-edit-exercise select {
  width: 20%;
}

.form-edit-exercise input,
.form-edit-exercise select {
  margin-bottom: 5%;
}

.form-edit-exercise button {
  margin-top: 0.5rem;
}