nav {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #2E9FE0
}

div.nav-links-container {
  width: 70%;
  margin: auto;
}

div.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: #2E9FE0;
  color: white;
}

ul.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-link {
  color: #FFFFFF;
}

.active {
  font-weight: bold;
}

.link {
  margin-left: 2rem;
}