nav {
  margin-bottom: 3rem;
  background-color: rgb(46, 159, 224);
}

.nav-tabs .nav-item .nav-link.active {
  background-color: rgb(250, 250, 250);
  color: rgb(0, 0, 0)
}

.nav-tabs .nav-item .nav-link {
  color: rgb(255, 255, 255)
}