/* ul.links {
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.links li:hover {
  text-decoration: underline;
}

nav.NavBar {
  border-bottom: 1px solid rgb(243, 240, 240);
  width: 60%;
  margin: auto;
} */