.input-name {
  width: 25%;
}

.input-type,
.select-sets {
  width: 10%;
}

.input-name input,
.input-type select,
.select-sets select {
  margin-bottom: 1rem;
}

.input-reps label {
  margin-right: 1rem;
}

.create-exercise {
  color: #FFFFFF;
  background-color: #A3A3A3;
  margin-top: 1rem;
  margin-bottom: 2rem;
}