div.NewAccessory {
  margin-bottom: 4%;
}

form.form-new-accessory {
  display: flex;
  flex-direction: column;  
}

.input-reps p,
div.input-name,
div.input-type,
div.select-sets,
div.input-reps {
  display: inline;
}

div.input-name,
div.select-sets,
.input-reps input
 {
  margin-right: 15px;
}

div.form-name-and-type,
div.form-reps-and-sets {
  margin-bottom: 2%;
}