div.PlanWorkout-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}

h2.page-name {
  text-align: center;
}

div.main-lifts,
div.accessory-lifts {
  border: 1px solid rgb(196, 196, 196);
  margin-bottom: 2.5%;
  display: flex;
  align-items: center;
}

div.main-lifts-container,
div.accessories-container {
  width: 95%;
  margin: 0 auto;
}

.PlanWorkout-container ul {
  padding: 0;
  list-style: none;
}

.PlanWorkout-container li {
  margin-bottom: 3.5%;
}

li p,
li div {
  display: inline;
}

div.buttons-div {
  float: right;
}

button.save-workout {
 width: 50%;
}

.section-name {
  margin-top: 1rem;
}